<!DOCTYPE html>
<html>
<head>
    <title>Audio Call</title>
</head>
<body>
    <video class="local" autoplay="true"></video>
    <div class="remote">
       <button id="mutebtn" onclick="handleMute()">Mute</button>
    </div>
    <input type="text" class="input">
    <button onclick="handlejoin()">join</button>
    <script src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>    
    <script src="js/index.js"></script>
</body>
</html>
