<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <video class="local" autoplay="true"></video>
    <video class="remote" autoplay="true"></video>
    <input type="text" class="room_name">
    <button onclick="handleJoin()">Join</button>
    <button onclick="handleCreate()">Create</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/index.js"></script>
</body>
</html>